*{
  margin: 0;
  padding: 0;
 }

.navbar{
   background-color: rgb(29, 97, 71);
  
}



/* For Logout button */
.logout{
color: rgb(187, 255, 0);
}

/* for  Blog Detail page */


 .category-nav{
   background-color: rgb(78, 15, 87); 
   list-style-type: none;
   text-align: center;
   margin: 0;
   padding: 0;
   
 }
 .category-nav li {
   display: inline-block;
   font-size: 20px;
   padding: 20px;
   
 }

/* For footer */
.footer1{
   position: relative;
   bottom: 0;
   left: 0;
   right: 0;
  
}
.col{
   background-color: black;
   color: rgb(18, 241, 36);
}
.design{
   background-color:gray;
   text-align: center;
}


/* For popup */

.modal {
   font-size: 12px;
 }
 .modal > .header {
   width: 100%;
   border-bottom: 1px solid gray;
   font-size: 18px;
   text-align: center;
   padding: 5px;
 }
 .modal > .content {
   width: 100%;
   padding: 10px 5px;
 }
 .modal > .actions {
   width: 100%;
   padding: 10px 5px;
   margin: auto;
   text-align: center;
 }
 .modal > .close {
   cursor: pointer;
   position: absolute;
   display: block;
   padding: 2px 5px;
   line-height: 20px;
   right: -10px;
   top: -10px;
   font-size: 24px;
   background: #ffffff;
   border-radius: 18px;
   border: 1px solid #cfcece;
 }